* {
  padding: 0;
  margin: 0;
}

body .recents {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/* Content */
.aboutus {
  justify-content: center;
  background: linear-gradient(50deg, #9a0680, #79018c, #4c0070);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.aboutus h1 {
  font-size: 35px;
  font-weight: 600;
  display: block;
  margin-left: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.aboutus .divider {
  height: 1.5px;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 15px;
  background-color: #dcdcdc;
  margin-left: 3.5rem;
  max-width: 72rem;
}

.desc {
  text-align: left;
  width: 100%;
  min-width: 900px;
}
.desc p {
  font-family: Poppins;
  font-size: 16px;
  color: #000000;
  padding: 10px 0;
  margin-left: 5rem;
  margin-right: 5rem;
  font-weight: 400;
  display: block;
  letter-spacing: 0.5px;
}

/* Content Responsive */
@media only screen and (max-width: 992px) {
  .aboutus h1 {
    margin-top: 7rem;
    font-size: 30px;
  }

  .aboutus .divider {
    height: 1.5px;
    width: 100%;
    margin-top: 2rem;
    background-color: #dcdcdc;
    margin-left: 4rem;
    min-width: 52rem;
  }

  .desc {
    text-align: left;
    margin: 10px;
  }

  .black {
    font-size: 16px;
    padding: 0 1rem;
    padding: 5px;
  }
}

/* Our Team */
.setence {
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 990px;
  justify-content: center;
  margin-bottom: 2rem;
}

.setence p {
  font-size: 20px;
  display: block;
  padding: 0 15rem;
}

.team {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  /* z-index: -1; */
}

.team .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
  align-items: center;
  row-gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 10rem;
  text-align: center;
  font-family: Poppins;
  justify-content: center;
  padding: 0 60px;
}

.content img {
  max-width: 180px;
  height: 100%;
  margin-bottom: 15px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.content img:hover {
  filter: grayscale(0);
}

.team .center h1 {
  display: block;
  font-size: 28px;
  padding-top: 3.5rem;
  background: linear-gradient(122deg, #9a0680, #79018c, #4c0070);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-left: 3.5rem;
  font-weight: 600;
}

.team .center .divider {
  height: 1.5px;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  background-color: #dcdcdc;
  margin-left: 3.5rem;
  max-width: 72rem;
}

.bio {
  padding: 20px;
  background: linear-gradient(to bottom, #160536, #1e0534, #250533, #2c0531, #31052f);
  border-radius: 15px;
  transition: all 0.38 ease;
  width: 100%;
  min-width: 10rem;
  padding: 0 10px;
  padding-top: 25px;
  padding-bottom: 24px;
}

.bio h3 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 8px;
}

.bio:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.bio h5 {
  font-size: 14px;
  font-weight: 600;
  color: #b7b4bb;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.socmed i {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  margin: 0 10px;
  margin-top: 20px;
  transition: all 0.38 ease;
}

.socmed i:hover {
  transform: scale(1.2);
}

/* Responsive Our Team*/
@media only screen and (max-width: 992px) {
  .team .content {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    grid-gap: 2rem;
    align-items: center;
    row-gap: 3rem;
    margin-top: 2rem;
    text-align: center;
    font-family: Poppins;
    justify-content: center;
    padding: 0 100px;
    margin-left: 2.7rem;
    margin-right: auto;
  }

  .team .center h1 {
    margin-left: 3rem;
  }

  .team .divider {
    height: 1.5px;
    width: 100%;
    margin-top: 2rem;
    background-color: #dcdcdc;
    margin-left: 4rem;
    min-width: 52rem;
  }
}

/* FOOTER */
.footer {
  padding: 50px;
  background-color: #160040;
  font-family: Poppins;
  min-height: 100%;
  height: auto;
  margin-top: 6rem;
  min-width: 100%;
  width: 970px;
  justify-content: center;
  align-content: end;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 20px;
  z-index: 100;
}

.gg h2 {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: left;
  font-size: 30px;
  margin-left: 10px;
}

.gg p {
  color: #f0f8ff;
  text-align: left;
  font-size: 15px;
}

.footer .social {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
}

.footer .social li {
  list-style: none;
}

.footer .social li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  border-radius: 30px;
  margin: 0px;
  opacity: 0.75;
  border: 1px;
  line-height: 40px;
}

.footer .social li a i {
  color: white;
  font-size: 20px;
}

.social .ig {
  background: linear-gradient(to top, #ffc107, #f44336, #9c27b0);
}

.social .twit {
  background-color: #000000;
}

.social .fb {
  background-color: #0068fb;
}

.social .linked {
  background-color: #1976d2;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer .links {
  position: relative;
}

.footer .links h2 {
  position: relative;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: left;
  font-size: 20px;
}

.footer .links ul li {
  list-style: none;
}

.footer .links ul li a {
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  color: #d3d3d3;
  text-align: left;
  font-size: 15px;
}

.footer ul li a:hover {
  opacity: 1;
  background: linear-gradient(to bottom, #d616b3, #79018c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.footer .copyright {
  background-color: #000000;
  margin-left: 2rem;
  margin-top: 3rem;
  text-align: left;
  font-size: 12px;
  color: #ffffff;
}

.copyright {
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: #000000;
  color: #ffffff;
  padding: 15px;
  text-align: left;
  font-size: 12px;
  min-height: 100%;
  height: auto;
  min-width: 100%;
  width: 970px;
}

.copyright i {
  margin-top: 12px;
  margin-left: 30px;
  text-align: right;
}

.copyright p {
  margin-top: 10px;
  margin-left: 10px;
}
/* END FOOTER */

/* RESPONSIVE FOOTER */
@media screen and (max-width: 600px) {
  .footer {
    background-color: #160040;
    font-family: Poppins;
    min-height: 100%;
    height: 300px;
    min-width: 100%;
    width: 1010px;
  }

  .copyright {
    background-color: #000000;
    font-family: Poppins;
    min-height: 100%;
    height: 90px;
    min-width: 100%;
    width: 1010px;
  }

  .copyright p {
    margin-top: 10px;
    margin-left: 5px;
  }

  .logo-gg img {
    margin-left: 50px;
  }
}
