@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body .recents {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/* Content */
.aboutus {
  justify-content: center;
  background: linear-gradient(50deg, #9a0680, #79018c, #4c0070);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.aboutus h1 {
  font-size: 35px;
  font-weight: 600;
  display: flex;
  margin-left: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.aboutus .divider {
  height: 1.5px;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 15px;
  background-color: #dcdcdc;
  margin-left: 3.5rem;
  max-width: 72rem;
}

.desc {
  text-align: left;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  min-height: 350px;
}
.desc p {
  font-family: Poppins;
  font-size: 16px;
  color: #000000;
  padding: 10px 0;
  margin-left: 5rem;
  margin-right: 5rem;
  font-weight: 400;
  display: block;
  letter-spacing: 0.5px;
  /* padding-bottom: 20px; */
}

/* Content Responsive */
@media only screen and (max-width: 1024px) {
  .aboutus {
    margin-top: 7.5rem;
  }
  .aboutus .divider {
    height: 1.5px;
    width: 100%;
    margin-top: 2rem;
    background-color: #dcdcdc;
    margin-left: 4rem;
    min-width: 80rem;
  }

  .desc {
    text-align: left;
    margin: 10px;
    height: 400px;
    width: 100%;
    min-width: 1290px;
    margin-bottom: -4rem;
  }

  .black {
    font-size: 16px;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .aboutus h1 {
    width: 100%;
    min-width: 100px;
    margin-top: 7rem;
    font-size: 30px;
  }

  .aboutus .divider {
    height: 1.5px;
    width: 100%;
    margin-top: 2rem;
    background-color: #dcdcdc;
    margin-left: 4rem;
    min-width: 73rem;
  }

  .desc {
    text-align: left;
    margin: 10px;
    height: 400px;
    width: 100%;
    min-width: 1290px;
    margin-bottom: -4rem;
  }

  .black {
    font-size: 16px;
    padding: 0 1rem;
  }
}

/* Our Team */
.setence {
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 1200px;
  justify-content: center;
  margin-bottom: 2rem;
}

.setence p {
  font-size: 20px;
  display: block;
  padding: 0 15rem;
}

.team {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  /* z-index: -1; */
}

.team .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 3rem 1.5rem;
  margin-top: 2rem;
  margin-bottom: 10rem;
  text-align: center;
  font-family: Poppins;
  justify-content: center;
  padding: 0 55px;
  margin-left: 2rem;
  padding-bottom: 4rem;
}

.content img {
  max-width: 180px;
  height: 100%;
  margin-bottom: 15px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.content img:hover {
  filter: grayscale(0);
}

.team .center h1 {
  display: block;
  font-size: 28px;
  padding-top: 3.5rem;
  background: linear-gradient(122deg, #9a0680, #79018c, #4c0070);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-left: 3.5rem;
  font-weight: 600;
}

.team .center .divider {
  height: 1.5px;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  background-color: #dcdcdc;
  margin-left: 3.5rem;
  max-width: 72rem;
}

.bio {
  padding: 20px;
  background: linear-gradient(to bottom, #160536, #1e0534, #250533, #2c0531, #31052f);
  border-radius: 15px;
  transition: all 0.38 ease;
  width: 100%;
  max-width: 20rem;
  max-height: 35rem;
  padding: 0 10px;
  padding-top: 25px;
  padding-bottom: 24px;
}

.bio h3 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 8px;
}

.bio:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.bio h5 {
  font-size: 14px;
  font-weight: 600;
  color: #b7b4bb;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.socmed i {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  margin: 0 10px;
  margin-top: 20px;
  transition: all 0.38 ease;
}

.socmed i:hover {
  transform: scale(1.2);
}

/* Responsive Our Team*/
@media only screen and (max-width: 1024px) {
  .setence {
    align-items: center;
    text-align: center;
    width: 100%;
    min-width: 1300px;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .setence p {
    font-size: 25px;
    display: block;
    padding: 0 15rem;
    font-weight: 410;
  }
  .team .content {
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    grid-gap: 4rem;
    align-items: center;
    row-gap: 3rem;
    margin-top: 2rem;
    text-align: center;
    font-family: Poppins;
    justify-content: center;
    padding: 0 80px;
    margin-left: 4rem;
    margin-right: auto;
  }
  .bio {
    width: 100%;
    min-width: 350px;
    margin-left: -2rem;
  }

  .team .center h1 {
    margin-left: 3rem;
  }

  .team .divider {
    height: 1.5px;
    width: 100%;
    margin-top: 2rem;
    background-color: #dcdcdc;
    margin-left: 4rem;
    min-width: 80rem;
  }
}

@media only screen and (max-width: 768px) {
  .team .content {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    grid-gap: 5rem;
    align-items: center;
    row-gap: 3rem;
    margin-top: 2rem;
    text-align: center;
    font-family: Poppins;
    justify-content: center;
    padding: 0 80px;
    margin-left: 7.5rem;
    margin-right: auto;
  }

  .bio {
    width: 100%;
    min-width: 350px;
    margin-left: 4rem;
  }

  .team .center h1 {
    margin-left: 3rem;
  }

  .team .divider {
    height: 1.5px;
    width: 100%;
    margin-top: 2rem;
    background-color: #dcdcdc;
    margin-left: 4rem;
    min-width: 73rem;
  }
}
