@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  /* scroll-behavior: smooth; */
}

body .recents {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/* Content */
.workatgg {
  justify-content: center;
  max-width: 100%;
}

.workatgg h1 {
  justify-content: center;
  text-align: left;
  background: linear-gradient(122deg, #9a0680, #79018c, #4c0070);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 30px;
  font-weight: 600;
  font-family: Poppins;
  margin-top: 2.5rem;
  margin-left: 3rem;
  padding-bottom: 10px;
}

.workatgg .divider {
  height: 1.5px;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  background-color: #dcdcdc;
  margin-left: 3.5rem;
  max-width: 72rem;
}

.desc {
  margin-top: 40px;
  margin-left: 5.5rem;
  /* max-width: 810px; */
  width: 1070px;
}

.tab {
  display: flex;
  /* max-width: 0px; */
}

.break {
  padding: 30px;
}

.tittle {
  background-color: #d8bfd8;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #9a0680;
  border-left: 1px solid #9a0680;
  border-right: 1px solid #9a0680;
}

.job {
  font-size: 20px;
  font-weight: bold;
  font-family: Poppins;
  text-align: left;
  margin-bottom: 0px;
}

.loc {
  font-size: 14px;
  font-weight: normal;
  font-family: Poppins;
  text-align: right;
}

.fill {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f8f8ff;
  border-top: 1px solid #dda0dd;
  border-bottom: 1px solid #9a0680;
  border-left: 1px solid #9a0680;
  border-right: 1px solid #9a0680;
}

.write {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  font-family: Poppins;
  text-align: justify;
}

.join h2 {
  font-size: 40px;
  font-family: Poppins;
  font-weight: 800;
  max-width: 100%;
}

.email {
  display: flex;
  align-items: left;
  padding-bottom: 0px;
  max-width: 100%;
  padding-top: 40px;
}

.email img {
  height: 30px;
  width: 30px;
  justify-content: flex-start;
  text-align: left;
  padding-left: 10px;
  margin-right: 10px;
}

.email a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 6rem;
}
/* End Content */

/* Content Responsive */
@media only screen and (max-width: 1116px) {
  .workatgg h1 {
    font-size: 30px;
    margin-top: 6rem;
  }

  .desc {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 800px;
  }

  .email {
    margin-bottom: 6rem;
  }

  /* .tittle {
    padding-left: 5px;
    padding-right: 5px;
  }

  .job {
    font-size: 12px;
  }

  .loc {
    font-size: 8px;
  }

  .fill {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .write {
    font-size: 10px;
  }

  .join h2 {
    font-size: 13px;
  }

  .email img {
    height: 20px;
    width: 20px;
  }

  .email a {
    font-size: 11px;
  } */
}

/* FOOTER */
.footer {
  padding: 50px;
  background-color: #160040;
  font-family: Poppins;
  min-height: 100%;
  height: auto;
  margin-top: 6rem;
  min-width: 100%;
  width: 970px;
  justify-content: center;
  align-content: end;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 20px;
  z-index: -1;
}

.gg h2 {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: left;
  font-size: 30px;
  margin-left: 10px;
}

.gg p {
  color: #f0f8ff;
  text-align: left;
  font-size: 15px;
}

.footer .social {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
}

.footer .social li {
  list-style: none;
}

.footer .social li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  border-radius: 30px;
  margin: 0px;
  opacity: 0.75;
  border: 1px;
  line-height: 40px;
}

.footer .social li a i {
  color: white;
  font-size: 20px;
}

.social .ig {
  background: linear-gradient(to top, #ffc107, #f44336, #9c27b0);
}

.social .twit {
  background-color: #000000;
}

.social .fb {
  background-color: #0068fb;
}

.social .linked {
  background-color: #1976d2;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer .links {
  position: relative;
}

.footer .links h2 {
  position: relative;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: left;
  font-size: 20px;
}

.footer .links ul li {
  list-style: none;
}

.footer .links ul li a {
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  color: #d3d3d3;
  text-align: left;
  font-size: 15px;
}

.footer ul li a:hover {
  opacity: 1;
  background: linear-gradient(to bottom, #d616b3, #79018c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.footer .copyright {
  background-color: #000000;
  margin-left: 2rem;
  margin-top: 3rem;
  text-align: left;
  font-size: 12px;
  color: #ffffff;
}

.copyright {
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: #000000;
  color: #ffffff;
  padding: 15px;
  text-align: left;
  font-size: 12px;
  min-height: 100%;
  height: auto;
  min-width: 100%;
  width: 970px;
}

.copyright i {
  margin-top: 12px;
  margin-left: 30px;
  text-align: right;
}

.copyright p {
  margin-top: 10px;
  margin-left: 10px;
}
/* END FOOTER */

/* RESPONSIVE FOOTER */
@media screen and (max-width: 600px) {
  .footer {
    background-color: #160040;
    font-family: Poppins;
    min-height: 100%;
    height: 300px;
    min-width: 100%;
    width: 1010px;
  }

  .copyright {
    background-color: #000000;
    font-family: Poppins;
    min-height: 100%;
    height: 90px;
    min-width: 100%;
    width: 1010px;
  }

  .copyright p {
    margin-top: 10px;
    margin-left: 5px;
  }

  .logo-gg img {
    margin-left: 50px;
  }
}
